<html>

<head>
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='reset.css')}}">
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='deleteItem.css')}}">
 <link href="https://fonts.googleapis.com/css?family=Philosopher:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
</head>

<body>
    <div class="topbar">
        <a href="/catalog">
            <div class="logo">
                <img src="{{url_for('static',filename='logo.png')}}" id='logopng'>
            </div>
        </a>
        <div class="LoginButton">
            {%if 'username' not in session %}
            <a class="usrname" href="{{url_for('start')}}">Login </a> {% else %}
            <a class="usrname" href=#>
                <img src="{{session['picture']}}">
                <p>{{(session['username'])}}</p>
            </a>
            <a class="logoutbutton" href="{{url_for('logout')}}">Logout </a> {% endif %}
        </div>
    </div>


    <div class='main'>
        <div class='flash'> {% with messages = get_flashed_messages() %}{% if messages %}

            <ul>
                {% for message in messages %}
                <li><strong>{{message}}</strong></li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
        </div>

        
   
     <form class='formbox' action="{{url_for('deleteItem',category_id=c.id,item_id=d.id)}}" method='POST'>
         
        <label>Are you sure you want to delete {{d.name}} from {{c.name}} category ?</label>
        
        <input class='submitbutton' type='submit' value='Yes'>
        
        <a class='backbutton' href="{{url_for('showItems',category_id=c.id)}}"><< Back</a>
    
    </form>
    </div>
</body>